body {
    background: #fff;
    margin: 0;
    /*
    font-family: "Segoe UI Historic", serif;
    */
    font-family: "Book Antiqua", serif;
}

h1, h2, h3, h4 {
    margin: 0;
}

/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background: #978568 url("../img/intro.png") no-repeat;
    -webkit-background-size: cover;
}

.intro__greeting {
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
    font-family: "Freestyle Script", serif;
    color: white;
    line-height: 0.5;
}

.intro__title {
    font-size: 60px;
    color: white;
    text-align: center;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.intro__subtitle {
    color: #fffef0;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}
.container{
    max-width: 100%;
}
/*Header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 17px;
    /*
    padding-top: 20px;
    */
    background: rgb(101, 100, 91, 0.5);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*
    border-bottom: 1px solid #917a53;
    */
    padding: 10px;
}

.logo {
    margin: 0 0 0 0;

    height: 60px;
    color: #fff;
    text-decoration: none;
}



/*Navigation*/
.nav {
    text-transform: uppercase;
    padding-top: 20px;
}

.nav__link {
    font-size: 18px;

    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: white;
    text-decoration: none;

    transition: color .1s linear;
}


.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    font-weight: bolder;
    background-color: #978754;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #978754;
}

.nav__link:hover:after {
    opacity: 1;
}

.title {
    font-size: 32px;
    color: dimgrey;
    text-align: left;
    text-transform: uppercase;
    margin: 100px 0 20px 0;

}

/*Features*/
.features {
    margin: 20px 0 0 0;
    padding: 0 20px;
    text-align: center;

}

.feature__text {
    font-size: 14px;
    color: dimgrey;
}

.features__img {
    margin: 10px;
}


/* button */
.button_1 {
    align-items: center;
    height: 30px;
    width: 500px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    /*
    border-radius: .375em;
    */
    font-size: 18px;
    box-sizing: border-box;
    color: #363636;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    /*
    margin: 0 0 0 20px;
    */
}

.button_1:active {
    border-color: white;
    outline: 0;
    background-color: #4a4a4a;
}

.button_1:hover {
    border-color: #b5b5b5;
    background-color: #4a4a4a;
    color: #fffef0;
}

.button_2 {
    align-items: center;
    height: 50px;
    width: 300px;
    border: 1px solid #ffffff;
    background-color: Transparent;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 0 0 0 50px;
}

.button_2:active {
    border-color: #ffffff;
    outline: 0;
    color: #ffffff;
    font-weight: lighter;
    background-color: #65645b;
}

.button_2:hover {
    border-color: #ffffff;
    background-color: #65645b;
    font-weight: lighter;
    color: #ffffff;
}

/*Cruises Page*/
.cruise__photo {
    position: relative;
    margin: 10px;
}

.cruise__container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    border: 2px solid #FFFFFF;
    margin: 5px 5px 5px 5px;

    width: 1190px;
    height: 340px;

}

.container__name_description {
    height: 200px;
    width: 500px;
    float: left;
    text-decoration: none;
}

.cruise__name {
    padding-top: 20px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.cruise__name a:link {
    color: #ffffff;
}

.cruise__name a:hover {
    color: rgba(101, 100, 91, 0.94);
}

.cruise__name a:active {
    color: #fffef0;
}

.cruise__name a:visited {
    color: rgba(255, 254, 240, 0.69);
}

.cruise__description {
    font-size: 20px;
}

.container__date_price_port {
    height: 320px;
    width: 500px;
    float: right;
    text-transform: none;
    background: rgba(101, 100, 91, 0.71);
}

.cruise__date {
    color: #7d3629;
    font-size: 20px;
    font-weight: bolder;
    width: 250px;
    text-align: center;
    float: contour;
    background: rgb(255, 255, 255, 0.5);
}

.cruise__price {
    font-size: 25px;
    color: #797d23;
}

.cruise__port {
    color: #fffef0;
    font-weight: lighter;
    font-size: 20px;
    margin: 30px 0 0 0;
}

/*.page-link {
    color: #65645b;
    text-decoration: none;
}*/

/*Login Page*/
html {
    height: 100%;

}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 688px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    background-color: #4a4a4a;
}

.login .button_1 {
    position: relative;
    /*padding: 10px 0;
    margin: 0 0 0 0;*/
    width: 100%;
}

.input__field {
    position: relative;
}

.input__field input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.input__field label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input__field input:focus ~ label,
.input__field input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgba(155, 143, 119, 0.87);
    font-size: 12px;
}

.custom__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #978568 url("../img/rocks-sea-coast-4k-j6.jpg ") no-repeat;
    -webkit-background-size: cover;
}

.style__text {
    margin: 10px 0 0 0;
    color: rgba(206, 205, 189, 0.76);
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.style__text a {
    color: antiquewhite;
}

.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 688px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    background-color: #978568;
}

.registration .button_1 {
    margin: 0 0;
    width: 730px;
}

.container__detailed {
    margin: 90px 30px 30px 0;
}

.container__cruise_info {
    height: 300px;
    width: 800px;
    float: right;
    background: rgba(101, 100, 91, 0.25);

}

.button__book_now {
    align-items: center;
    height: 50px;
    width: 200px;
    border: 1px solid #fffef0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #fffef0;
    font-weight: bold;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: #6b1e1e;

}

.button__book_now:active {
    border-color: #ffffff;
    outline: 0;
    color: #ffffff;
    font-weight: lighter;
    background-color: #65645b;
}

.button__book_now:hover {
    border-color: #6b1e1e;
    background-color: Transparent;
    font-weight: lighter;
    color: #6b1e1e;
}

nav {
    display: flex;
    justify-content: center;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 2px;
    box-sizing: border-box;
}

.table__container {
    margin: 100px 100px 100px 100px;
    position: relative;
    /*
    margin: auto;
    */
    text-align: center;
}

.edit {
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    background: #2199e8;
    color: #ffffff;
}

.edit:hover {
    background: #13248c;
}

.save {
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    display: none;
    background: #32AD60;
    color: #ffffff;
}

.save:hover {
    background: rgba(50, 173, 96, 0.1);
}

.delete {
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    background: #EC5840;
    color: #ffffff;
}

.delete:hover {
    background: rgba(236, 88, 64, 0.5);
}

.container__file_uploading {
    margin: 100px 100px 100px 100px;
    /*
    border: 1px solid #ccc;
    */
    position: absolute;
    width: 70%;
    display: inline-block;
    padding: 6px 12px;
}


.button_red {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 30px;
    text-align: center;

}

.button_red:hover,
.button_red:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button_red:active {
    opacity: .5;
}
ul{
    list-style-type: none;


}
.user_menu {
    margin-left: 120px;
    position: fixed;
    float: left;
    width: 100%;
    /*
    margin: 0;
    */
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid #7d7c72;
}
.modal .fade{
    position: fixed;

}
.form_file.title{
    margin: 0;
}
.form_file{
    position: absolute;
    /*        top: 50%;
            left: 50%;*/
    margin-top: 30px;
    margin-left: 20px;
    width: 500px;
    height: 200px;
    border: 4px dashed #65645b;
}
.form_file p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #65645b;
}
.input_file{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}


